$Conf{XferLogLevel} = 1;
{% if item.compress_level is defined %}
$Conf{CompressLevel} = {{ item.compress_level }};
{% endif %}
{% if item.dumppreusercmd is defined %}
$Conf{DumpPreUserCmd} = '/bin/echo PreUser';
{% endif %}
{% if item.dumppostusercmd is defined %}
$Conf{DumpPostUserCmd} = '/bin/echo PostUser';
{% endif %}
{% if item.xfer_method is defined and item.xfer_method == 'rsync' %}
$Conf{XferMethod} = 'rsync';
{% endif %}
{% if item.rsyncclientcmd is defined %}
$Conf{RsyncClientCmd} = '$sshPath -q -x -l makky $host $rsyncPath $argList+';
{% endif %}
{% if item.rsyncsharename is defined %}
$Conf{RsyncShareName} = [
{% for share in item.rsyncsharename %}
  '{{ share }}',
{% endfor %}
];
{% endif %}
